<div class="flex items-center h-14 gap-4">
  {{ if .Site.Params.enableSearch | default false }}
    <button id="search-button-mobile" aria-label="Search" class="flex items-center justify-center bf-icon-color-hover" title="{{ i18n "search.open_button_title" }}">
      {{ partial "icon.html" "search" }}
    </button>
  {{ end }}

  {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
    <button id="appearance-switcher-mobile" type="button" aria-label="{{ i18n "footer.dark_appearance" }}" title="{{ i18n "footer.dark_appearance" }}" class="flex items-center justify-center bf-icon-color-hover">
      <span class="dark:hidden">{{ partial "icon.html" "moon" }}</span>
      <span class="hidden dark:block">{{ partial "icon.html" "sun" }}</span>
    </button>
  {{ end }}

  <button type="button" class="fullscreen-nav-trigger flex items-center justify-center bf-icon-color-hover" data-fullscreen-menu-open aria-label="Open navigation menu" aria-controls="fullscreen-navigation" aria-expanded="false">
    {{ partial "icon.html" "bars" }}
  </button>
</div>
